<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Magnus</title>
  <link rel="stylesheet" href="styles.css">

</head>


<body>
<h1>Magnus Moodtracker</h1>



    
<div class="line"></div>




  <% if (result.length == 0){ %>
    <P> Please add a mood via the discord bot</P>
  <% }else{ %>
    <% for(var i=0; i<result.length; i++) {%>
    <div id="<%= result[i]._id %>" class="text_container">
        <P>
          Timestamp:<%= result[i].timestamp %>
          Mood:<%= result[i].mood %>
          Number:<%= result[i].number %>
          Desc:<%= result[i].desc %>
        </P>
        <a class="delete_href" href="delete-<%= result[i]._id %>-<%= result[i].user %>">[X]</a>
        </div>
    <% } %>
  <% } %>








</body>
</html>
